@font-face {
    font-family: 'social';
    
    src: 
         url('font/fontello.woff2'),
         url('font/fontello.woff') ,
         url('font/fontello.ttf') ,
         url('font/fontello.svg') 
  
  }
footer{
    background: rgb(51, 10, 10);
    display: grid;
    grid-row-gap:1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "social logo menu"
        ".. firma ..";
    width: 100%;
    margin:0 auto;
    
    
}
footer header{
    grid-area: menu;
    
    
}
footer header ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}

footer header ul li {
    width: 20%;
    margin: 1em auto;
    padding:.5em 0;
    display: flex;
}
footer header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
footer header ul li a:hover{
    color: tomato;
}
.logo2{
    grid-area: logo;
    margin-left: 20%;  
}

footer .social{
    grid-area: social;
    text-decoration: none;
}
footer .social ul{
    margin: 0;
    padding: 0;
    list-style: none
}
#linkS ul li{
    display: inline-flex;
    margin: 1em;
    padding: 1em;
    border-radius: 100%;
    
    color: rgb(253, 235, 75);
}

.firma{
    grid-area: firma;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 3em;
    color: yellow;
    
}
.popupF{
    text-decoration: none;
    color: yellow;
    
    
}
.popupF:hover{
    color: tomato;
}
@media screen and (max-width: 1024px){
    footer{
        background: rgb(51, 10, 10);
        display: grid;
        grid-row-gap:5em;
        grid-template-columns: 100% ;
        grid-template-areas: 
            "menu"
            "logo"
            "social"
            "firma";
        width: 100%;
        margin:0 auto;
        
    }
    footer header{
        grid-area: menu;
        
        
    }
    footer header ul{
        margin: 0;
        padding: 0;
        list-style: none; 
        text-align: center;   
    }
    
    footer header ul li {
        width: 20%;
        margin: 1em auto;
        padding:.5em 0;
        display: inline-flex;
    }
    footer header ul li a{
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
    footer header ul li a:hover{
        color: tomato;
    }
    .logo2{
        grid-area: logo;
        margin-right: 150px;  
    }
    .firma{
        grid-area: firma;
        padding: 0;
        text-align: center;
        margin: 2em;
        color: yellow;
    }
    .logo2{
        grid-area: logo;
        margin-left: 30%;  
    }
    
    footer .social{
        grid-area: social;
        text-align: center;
        text-decoration: none;
        display: block;
    }
}
@media screen and (max-width: 768px){
    footer{
        background: rgb(51, 10, 10);
        display: grid;
        grid-row-gap:1em;
        
        grid-template-columns: 100% ;
        grid-template-areas: 
            "menu"
            "social"
            "logo"
            "firma";
        width: 100%;
        margin:0 auto;
        
    }
    footer header{
        grid-area: menu;
        
        
    }
    footer header ul{
        
        margin: 0;
        padding: 0;
        list-style: none; 
        text-align: center;   
    }
    
    footer header ul li {
        width: 20%;
        margin: 0 0;
        padding:1em 0;
        margin-left: 20px;    
    }
    footer header ul li a{
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
    footer header ul li a:hover{
        color: tomato;
    }
    .logo2{
        grid-area: logo;
        margin-left: 26%;  
        
    }
    .firma{
        grid-area: firma;
        padding: 0;
        text-align: center;
        margin: 4em;
        color: yellow;
    }
    
    .social{
        grid-area: social;
        display: block;
        text-decoration: none;
    }
}



  