*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-row-gap:1em;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-areas: 
        "testata testata testata testata "
        ".. foto scheda .."
        ".. bottone .. .."
        "foot foot foot foot";
    width: 100%;
    margin:0 auto;
    
}
header{
    grid-area: testata; 
     
}
.a{
    grid-area: scheda;
    background: pink;
    padding: 1em;
    width: 100%;
}
.a h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;  
}

.b{
    grid-area: foto;
    width: 100%;
    border: 3px solid pink;
    padding: 1em;
}


button{
    grid-area: bottone;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}
button:hover{
    border: 5px solid rgb(255, 99, 71);
}
footer{
    grid-area: foot;
}
@media screen and (max-width:1024px){
    body{
        display: grid;
        grid-row-gap:1em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "testata testata"
            "foto scheda"
            "bottone .."
            "foot foot";
        width: 100%;
        margin:0 auto;
    }
    header{
        grid-area: testata;  
    }
    .a{
        grid-area: scheda;
        background: pink;
        padding: 1em;
        width: 100%;
        
    }
    
    .b{
        grid-area: foto;
        width: 100%;
        border: 3px solid pink;
        padding: 1em;
    }
    
    
    button{
        grid-area: bottone;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        cursor: pointer;
    }
    button:hover{
        border: 5px solid rgb(255, 99, 71);
    }
    footer{
        grid-area: foot;
    }
    
}
@media screen and (max-width:764px){
    body{
        display: grid;
        grid-row-gap:1em;
        grid-template-columns: 100% ;
        grid-template-areas: 
            "testata"
            "foto"
            "scheda"
            "bottone"
            "foot";
        width: 100%;
        margin:0 auto;
    }
    header{
        grid-area: testata; 
         
    }
    .a{
        grid-area: scheda;
        background: pink;
        padding: 1em;
    }
    
    .b{
        grid-area: foto;
        width: 100%;
        border: 3px solid pink;
        padding: 1em;
    }
    
    
    button{
        grid-area: bottone;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        cursor: pointer;
    }
    button:hover{
        border: 5px solid rgb(255, 99, 71);
    }
    footer{
        grid-area: foot;
    }
}


